<%= form_for @appointment do |f| %>
    <% if @appointment.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited
            this appointment from being saved:</h2>
          <ul>
            <% @appointment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :Customer %><br>
      <%= f.text_field :customer %>
    </p>
    <p>
      <%= f.label :Pet %><br>
      <%= f.text_field :pet %>
    </p>
    <p>
      <%= f.label :Reason %><br>
      <%= f.text_field :reason %>
    </p>
    <p>
      <%= f.label :Date %><br>
      <%= f.date_select :dated %>
    </p>
    <p>
      <%= f.label :Doctor %><br>
      <%= f.text_field :doctor %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>